<div class=" row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <mat-card class="cardWithShadow theme-card">
            <mat-card-content class="p-32">
                <form #cityForm class="m-t-30">
                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input #nombreInput="ngModel" type="text" matInput name="name" id="name"
                            [(ngModel)]="ciudad.nombre" required maxlength="100" />
                        <mat-hint class="mat-error" *ngIf="!ciudad.nombre && nombreInput.touched">Ingresa el nombre
                            de la ciudad</mat-hint>
                    </mat-form-field>
                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Departamento</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-label>Selecciona una opcion</mat-label>
                        <mat-select [formControl]="departamento" [(value)]="ciudad.departamento" required>
                            <mat-option></mat-option>
                            <mat-option value="Guatemala">Guatemala</mat-option>
                            <mat-option value="Totonicapan">Totonicapan</mat-option>
                            <mat-option value="Alta Verapaz">Alta Verapaz</mat-option>
                            <mat-option value="Baja Verapaz">Baja Verapaz</mat-option>
                            <mat-option value="Chimaltenango">Chimaltenango</mat-option>
                            <mat-option value="Chiquimula">Chiquimula</mat-option>
                            <mat-option value="El Progreso">El Progreso</mat-option>
                            <mat-option value="Huehuetenango">Huehuetenango</mat-option>
                            <mat-option value="Izabal">Izabal</mat-option>
                            <mat-option value="Jutiapa">Jutiapa</mat-option>
                            <mat-option value="Jalapa">Jalapa</mat-option>
                            <mat-option value="Peten">Peten</mat-option>
                            <mat-option value="Quiche">Quiche</mat-option>
                            <mat-option value="Quetzaltenango">Quetzaltenango</mat-option>
                            <mat-option value="Retalhuleu">Retalhuleu</mat-option>
                            <mat-option value="San Marcos">San Marcos</mat-option>
                            <mat-option value="Santa Rosa">Santa Rosa</mat-option>
                            <mat-option value="Suchitepequez">Suchitepequez</mat-option>
                            <mat-option value="Zacapa">Zacapa</mat-option>
                            <mat-option value="Solola">Solola</mat-option>
                            <mat-option value="Sacatepequez">Sacatepequez</mat-option>
                            <mat-option value="Escuintla">Escuintla</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!ciudad.departamento && departamento.hasError('required')">Selecciona el
                            departamento</mat-error>
                    </mat-form-field>

                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Descripcion</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">

                        <textarea #descripcionInput="ngModel" matInput name="descripcion" id="descripcion"
                            [(ngModel)]="ciudad.descripcion" required maxlength="250"></textarea>
                        <mat-hint class="mat-error" *ngIf="!ciudad.descripcion && descripcionInput.touched">Ingresa la
                            descripcion de la ciudad</mat-hint>
                    </mat-form-field>
                    <button type="submit" (click)="save()" mat-flat-button color="primary" class="w-100 mb-3">
                        Guardar
                    </button>
                    <button type="button" (click)="finish()" mat-flat-button color="primary" class="w-100">
                        Regresar
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>