.navBarP {
    width: 100%;
    z-index: -1;
}

.navBarP ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navBarP ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.navBarP ul li:hover,
.navBarP ul li.active {
    box-shadow: 0px -3px 0px rgba(59, 183, 255, 0.9) inset;
}

.mat-green {
    text-align: right;

    margin-left: 5%;
    color: white;
    background-color: forestgreen;
}

.search {
    width: 7%;
}

.divBotones {
    margin-bottom: 2%;
    align-content: right;
    align-items: right;
    margin-left: 70%;
    margin-right: 4%;
    width: 100%;
}

.formbold-input-flex {
    margin-left: 3%;
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.formbold-input-flex>div {
    width: 50%;
}

.formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.formbold-form-input {
    margin-top: 5px;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.formbold-form-input2{
    width: 80%;
    margin-top: 0;
    padding: 13px 10px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.formbold-form-input3{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.formbold-form-input:focus {
    border-color: #64d5f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form-btn{
    margin-right: 1rem;
    width: 10%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #598039;
    color: white;
    margin-top: 3rem;
  }