<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Salidas</mat-card-title>

    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="divBotones">
            <button mat-flat-button color="primary" matTooltip="Crea una nueva Salida de un vehiculo">
                Crear Salida
            </button>
            <br>
        </div>
        <div class="d-flex align-items-center justify-content-center my-1" >
            <div class="col-lg-5">
                <label for="phone" class="formbold-form-label">Sucursal</label>
                <select class="formbold-form-input" name="sucursal" [(ngModel)]="idSucursal"r equired>
                    <option value="0">todas
                    </option>
                    <option  *ngFor="let element of sucursalesSelect" value="{{element.id}}">{{element.nombre}}
                    </option>
                </select>
            </div>
            <div class="col-lg-5">
                <label for="phone" class="formbold-form-label">Fecha</label>
                <div class="formbold-form-input3">
                    <input type="date"  [(ngModel)]="fecha"  class="formbold-form-input2" style="display: inline-flex;">
                    </div>
            </div>
            <button class="col-lg-2" mat-flat-button color="accent" (click)="getAll()">Buscar </button>
           
        </div>
        <div class="profile-body">
            <div class="col-lg-12" *ngIf="list">
                <mat-card class="cardWithShadow">
                    <mat-card-content class="p-24">
                        <mat-card-title>Salidas</mat-card-title>
                        <div class="table-responsive m-t-16">
                            <table mat-table [dataSource]="dataSource" class="w-100">
                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        No.
                                    </th>
                                    <td mat-cell *matCellDef=" let i = index">
                                        <div class="d-flex align-items-center">
                                            <div class="m-l-16">
                                                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                                    {{i+1}}
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="tipoSalida">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        tipoSalida
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="mat-body-1">
                                        {{ element.tipo_salida_id }}
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="vehiculo">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        Vehiculo
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="mat-body-1">

                                        {{ element.vehiculo_id }}

                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="fecha programada">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        Fecha Programada
                                    </th>
                                    <td mat-cell *matCellDef="let element">

                                        <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ element.fecha_programada | date:'dd/MM/yyyy'}}
                                        </span>

                                    </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="fecha llegada">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        Sucursal de Origen
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="mat-body-1">
                                        {{ element.segmento.sucursal_origen_id }}
                                    </td>
                                </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="segmento">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                        Segmento Ruta
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="mat-body-1">
                                        {{ element.segmento.descripcion }}
                                    </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 ">
                                        Acciones
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="mat-body-1 ">
                                        <button mat-mini-fab class="bg-light-primary text-primary m-1"
                                            matTooltip="Ver Salida" [routerLink]="['/features/salidas/ver',element.id   ]">
                                            <i-tabler name="eye" class="icon-16"></i-tabler>
                                        </button>
                                        <button mat-mini-fab *ngIf="element.tipo_salida_id==tipoSalidaEnum.CARGANDO" class="bg-light-primary text-primary m-1" matTooltip="Cargar"
                                        [routerLink]="['/features/salidas/carga',element.id   ]">
                                            <i-tabler name="package-import" class="icon-16"></i-tabler>
                                        </button>
                                        <button mat-mini-fab class="bg-light-primary text-primary m-1" *ngIf="element.tipo_salida_id==tipoSalidaEnum.CARGADO" matTooltip="Dar Salida"
                                            (click)="delete(element.id)">
                                            <i-tabler name="truck-return" class="icon-16"></i-tabler>
                                        </button>
                                        <button mat-mini-fab class="bg-light-primary text-primary m-1" *ngIf="element.tipo_salida_id==tipoSalidaEnum.EN_RUTA" matTooltip="Recepcionar"
                                        (click)="delete(element.id)">
                                        <i-tabler name="home-down" class="icon-16"></i-tabler>
                                    </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5,10,15,20]"
                                showFirstLastButtons></mat-paginator>

                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <!--<app-segmento-form *ngIf="!list" [segmentoId]="selectedId" (finishEvent)="setListView()"></app-segmento-form>-->
        </div>
        <div *ngIf="tabs==1" class="profile-reviews tab">
        </div>

    </mat-card-content>
</mat-card>
