<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Gastos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <li (click)="changeTab(0);" [appCheckPermission]="permissionTypes.READ"  class="user-post active" [ngClass]="{'active':tabs==0}">Ver Gastos
                </li>
                <li (click)="changeTab(1);" [appCheckPermission]="permissionTypes.CREATE"  class="user-review" [ngClass]="{'active':tabs==1}">Ingresar Gastos</li>
            </ul>
        </div>
        <div class="profile-body">
            <div [hidden]="tabs!=0" class="profile-posts tab">
                <div class="col-lg-12" [hidden]="!list" [appCheckPermission]="permissionTypes.READ" >
                    <mat-card class="cardWithShadow">
                        <mat-card-content class="p-24">
                            <mat-card-title>Gastos</mat-card-title>
                            <div class="table-responsive m-t-16">
                                <table mat-table [dataSource]="dataSource" class="w-100">
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            No.
                                        </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <div class="d-flex align-items-center">

                                                <div class="m-l-16">
                                                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                                        {{i+1}}
                                                    </h6>

                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="sucursal">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Sucursal
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                           
                                            {{ element.sucursal.nombre }}
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="tipo_gasto">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Tipo de Gasto
                                        </th>
                                        <td mat-cell *matCellDef="let element">

                                            <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                {{ element.tipoGasto.nombre }}
                                            </span>

                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="concepto_gasto">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Concepto de Gasto
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.conceptoGasto.nombre }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="monto">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                             Monto
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                           
                                            {{ element.monto }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                             Fecha
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ formatDate(element.fecha) }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 ">
                                            Acciones
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1 ">
                                            <button mat-mini-fab class="bg-light-primary text-primary m-1" [appCheckPermission]="permissionTypes.UPDATE" 
                                                matTooltip="Editar" (click)="edit(element.id)">
                                                <i-tabler name="edit-circle" class="icon-16"></i-tabler>
                                            </button>
                                            <button mat-mini-fab class="bg-light-error text-error m-1" [appCheckPermission]="permissionTypes.DELETE" 
                                                matTooltip="Eliminar" (click)="deleteCiudad(element.id)">
                                                <i-tabler name="trash-filled" class="icon-16"></i-tabler>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[5,10,15,20]"
                                    showFirstLastButtons></mat-paginator>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <app-gasto-form [appCheckPermission]="permissionTypes.UPDATE"  *ngIf="!list" [gastoId]="selectedId" (finishEvent)="setListView()"></app-gasto-form>
            </div>
            <div *ngIf="tabs==1" class="profile-reviews tab">
                <app-gasto-form (finishEvent)="setListView()" [appCheckPermission]="permissionTypes.CREATE" ></app-gasto-form>
            </div>
            

        </div>
    </mat-card-content>
</mat-card>