<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Sucursales</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <li (click)="tabs(0);" class="user-post active" #li0>Ver Sucursales</li>
                <li (click)="tabs(1);" class="user-review"  #li1>Crear Sucursal</li>
                <li (click)="tabs(2);" class="user-setting"  #li2>Editar Sucursal</li>
            </ul>
        </div>
        <div class="profile-body">
            <div class="profile-posts tab" #astxt1 >
                <app-listar-sucursales></app-listar-sucursales>
            </div>
            <div class="profile-reviews tab" #astxt2 style="display: none;">
                <app-crear-sucursal></app-crear-sucursal>
            </div>
            <div class="profile-settings tab" #astxt3 style="display: none;">
                <app-editar-sucursal></app-editar-sucursal>
            </div>
        </div>
    </mat-card-content>
</mat-card>
