<mat-card class="cardWithShadow theme-card">
    <mat-card-header class="d-flex justify-content-between">
        <form #tarifarioForm class="w-100 d-flex justify-content-between">
            <mat-card-title class="m-b-0">Tarifario</mat-card-title>
        <mat-form-field class="w-25"  appearance="outline">
            <mat-label>Porcentaje de ganacia (%)</mat-label>
            <input #porcentajeInput="ngModel" matInput name="porcentaje" id="porcentaje" type="number" min="0" [(ngModel)]="tarifario.ganancia_envio" required />
            <mat-hint class="mat-error" *ngIf="!tarifario.ganancia_envio && porcentajeInput.touched">Ingresa el porcentaje de ganancia</mat-hint>
          </mat-form-field>
          <mat-form-field  appearance="outline">
            <mat-label>Mes y Año</mat-label>
            <input matInput [matDatepicker]="dp" name="fecha" id="fecha" [formControl]="date" required >
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
        <button type="button"  mat-flat-button color="primary" (click)="createTarifario()" >
            Calcular
        </button>
        </form>
       
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="profile-body">
            <div  class="profile-posts tab" #astxt1>
                <div class="col-lg-12" >
                    <mat-card class="cardWithShadow">
                        <mat-card-content class="p-24">
                            <mat-card-title>Tarifario</mat-card-title>
                            <div class="table-responsive m-t-16">
                                <table mat-table [dataSource]="dataSource" class="w-100">
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            No.
                                        </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <div class="d-flex align-items-center">

                                                <div class="m-l-16">
                                                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                                        {{i+1}}
                                                    </h6>

                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Fecha
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ format(element.fecha) }}
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="ganancia_envio">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Ganancia por envio
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">

                                            
                                                {{ element.ganancia_envio }}

                                        </td>
                                    </ng-container>
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="costo_lb">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Costo por libra
                                        </th>
                                        <td mat-cell *matCellDef="let element">

                                            <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                {{ element.costo_lb }}
                                            </span>

                                        </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    




                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 ">
                                            Acciones
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1 ">
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                <mat-icon>more_vert</mat-icon>
                                              </button>
                                              <mat-menu #menu="matMenu">
                                                <button mat-menu-item [routerLink]="['/features/gastos',element.fecha   ]">                                                    
                                                  <i-tabler name="receipt-2" class="icon-16"></i-tabler>
                                                  <span>Ver Gastos</span>
                                                </button>
                                                <button mat-menu-item>                                                    
                                                    <i-tabler name="tir" class="icon-16"></i-tabler>
                                                  <span>Ver Salidas</span>
                                                </button>
                                              </mat-menu>
                                              
                                          
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"  ></tr>

                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[5,10,15,20]"
                                    showFirstLastButtons></mat-paginator>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>