<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form #vehiculoForm>
            <div class="formbold-form-title">
                <h2 class="">Vehiculo</h2>
                <p>
                </p>
            </div>
            <div>
                <h4>Datos del Vehiculo</h4>
                <div class="formbold-input-flex">
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Placa:
                        </label>
                        <input type="text" name="nombre" id="nombre" class="formbold-form-input"  [formControl]="placa"
                            [(ngModel)]="vehiculo.placa" required />
                    </div>
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Capacidad en libras:
                        </label>
                        <input type="number" name="peso" id="peso" class="formbold-form-input" [formControl]="peso"
                            [(ngModel)]="vehiculo.capacidad_lb" required /> 
                    </div>
                </div>
                
                <div class="formbold-input-flex">
                    <div>
                        <label for="email" class="formbold-form-label"> Tipo de vehiculo</label>
                        <select class="formbold-form-input"  name="tipo"  [(ngModel)]="vehiculo.tipo_vehiculo_id" required [formControl]="tipo">
                            <option *ngFor="let element of tipoVehiculoSelect" [ngValue]="element.id">{{element.nombre}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="phone" class="formbold-form-label">Sucursal</label>
                        <select class="formbold-form-input" name="sucursal" 
                            [(ngModel)]="vehiculo.sucursal_id" required>
                            <option *ngFor="let element of sucursalesSelect" [ngValue]="element.id">{{element.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="formbold-input-flex">
                    
                    <div>
                        <label for="email" class="formbold-form-label">Costo/km en Q.</label>
                        <input type="number" id="mts2" class="formbold-form-input" name="costokm" [formControl]="costokm" 
                            [(ngModel)]="vehiculo.costo_km" required /> 
                    </div>
                </div>
            </div>
            <hr />
            <button mat-flat-button color="primary" type="submit" (click)="save()">Guardar</button>
        </form>
    </div>
</div>