<div class="formbold-main-wrapper">
    <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
            <mat-card-title class="m-b-0">Calcular Precio</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
            <form #paqueteForm>
                <div class="formbold-form-wrapper">
                    <div>
                        <div class="formbold-steps">
                            <ul>
                                <li class="formbold-step-menu1 active" #f1>
                                    <span>1</span>
                                    Origen
                                </li>
                                <li class="formbold-step-menu2" #f2>
                                    <span>2</span>
                                    Destino
                                </li>
                                <li class="formbold-step-menu3" #f3>
                                    <span>3</span>
                                    Tarifa Final
                                </li>
                            </ul>
                        </div>

                        <div class="formbold-form-step-1 active" #fb1>

                            <div class="formbold-input-flex">
                                <div>
                                    <label for="peso" class="formbold-form-label">Peso del Paquete </label>
                                    <input type="number" name="lastname" placeholder="Peso en libras" id="lastname" pattern="^[0-9]+"  min="1" 
                                        class="formbold-form-input" [(ngModel)]="paquete.peso" />
                                </div>
                            </div>
                            <div class="formbold-input-flex">
                                <div>
                                    <label for="alto" class="formbold-form-label"> Ancho</label> 
                                    <input type="number" name="ancho" id="ancho" class="formbold-form-input" pattern="^[0-9]+" min="1" 
                                        placeholder="cm" [(ngModel)]="paquete.ancho" #ancho />
                                </div>
                                <div>
                                    <label for="alto" class="formbold-form-label"> Alto </label>
                                    <input type="number" name="alto" placeholder="cm" id="alto" pattern="^[0-9]+"  min="1" 
                                        class="formbold-form-input" [(ngModel)]="paquete.alto" #alto />
                                </div>
                                <div>
                                    <label for="alto" class="formbold-form-label"> Largo </label>
                                    <input type="number" name="largo" placeholder="cm" id="largo" pattern="^[0-9]+"  min="1" 
                                        class="formbold-form-input" [(ngModel)]="paquete.largo" #largo />
                                </div>
                            </div>

                            <div>
                                <label for="address" class="formbold-form-label"> Descripcion</label>
                                <input type="text" name="desc" id="desc" placeholder="Ingresa una pequeña descripcion"
                                    class="formbold-form-input" [(ngModel)]="paquete.descripcion" #descripcion />
                            </div>
                        </div>

                        <div class="formbold-form-step-2" #fb2>
                            <div>
                                <div class="formbold-mb-3">
                                    <div>
                                        <label for="email" class="formbold-form-label"> Sucursal de Origen</label>
                                        <select class="formbold-form-input" name="ciudadInicio" #ciudadInicio="ngModel"
                                            [(ngModel)]="paquete.sucursal_origen_id" required>
                                            <option *ngFor="let element of sucursalesSelect" [value]="element.id">
                                                {{element.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label for="email" class="formbold-form-label"> Sucursal Destino</label>
                                    <select class="formbold-form-input" name="ciudadDestino" #ciudadDestino="ngModel"
                                        [(ngModel)]="paquete.sucursal_destino_id" required>
                                        <option *ngFor="let element of sucursalesSelect" [value]="element.id">
                                            {{element.nombre}}</option>
                                    </select>
                                </div>
                                <!-- <div>
                                    <label for="address" class="formbold-form-label"> Referencia</label>
                                    <input type="text" name="desc" id="desc" placeholder="Referencia para la entrega"
                                        class="formbold-form-input" #descripcion />
                                </div>-->
                            </div>
                        </div>

                        <div class="formbold-form-step-3" #fb3>
                            <div class="formbold-form-confirm">
                                <h4>Resumen:</h4>
                                <div class="formbold-input-flex">
                                    <label style="font-weight: bold;">Origen:</label>
                                    <label #origenLbl>{{ paquete.sucursalOrigen }}</label>
                                </div>

                                <div class="formbold-input-flex">
                                    <label style="font-weight: bold;">Entrega:</label>
                                    <label #destinoLbl>{{ paquete.sucursalDestino }}</label>
                                </div>
                                <div class="formbold-input-flex">
                                    <label style="font-weight: bold;">Volumen:</label>
                                    <label #destinoLbl>{{ paquete.alto*paquete.ancho*paquete.largo }} cm3</label>
                                </div>
                                 <div class="formbold-input-flex" style="display: none;" #divTiempoEst>
                                    <label style="font-weight: bold;">Peso:</label>
                                    <label>{{ paquete.peso }} lb</label>
                                </div>
                                <div class="formbold-input-flex" #divTipoCotizacion>
                                    <label style="font-weight: bold;">Tipo Cotizacion:</label>
                                    <select class="formbold-form-input" name="tipoCotizacion"
                                    [(ngModel)]="tipoCotizacion" required>
                                        <option  [value]="0">Menor Distancia</option>
                                        <option  [value]="1">Menor Precio</option>
                                    </select>
                                </div>
                                <div class="formbold-input-flex" style="display: none;" #divDistancia>
                                    <label style="font-weight: bold;">Distancia:</label>
                                    <label>{{ paquete.distanciaRecorrida }} km</label>
                                </div>
                                <div class="formbold-input-flex" style="display: none;" #divPrecioEst>
                                    <label style="font-weight: bold;">Precio Estimado:</label>
                                    <label class="precioLbl">Q.{{paquete.precio}}</label>
                                </div>
                               
                            </div>
                            <button class="formbold-calcule-btn" (click)="calularPrecio()" #calcular>
                                CALCULAR
                            </button>
                        </div>

                        <div class="formbold-form-btn-wrapper">
                            <button class="formbold-back-btn" #regresoBtn>
                                Regresar
                            </button>

                            <button mat-flat-button color="primary"  (click)="cambiar()" #btnSigueinte>
                                Siguiente
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1675_1807)">
                                        <path
                                            d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1675_1807">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>

<!--
    <div class="box-rastreo">

        <div class="formbold-mb-3">
            <label for="address2" class="formbold-form-label">
                Direccion de entrega
            </label>
            <input type="text" name="address2" id="address2" class="formbold-form-input" />
        </div>
    

        <div class="formbold-input-flex">
            <div>
                <label for="state" class="formbold-form-label"> Departamento</label>
                <input type="text" name="state" id="state" class="formbold-form-input" />
            </div>
            <div>
                <label for="country" class="formbold-form-label"> Pais </label>
                <input type="text" name="country" id="country" class="formbold-form-input"  value="Guatemala"/>
            </div>
        </div>

    </div>-->