<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Ciudades</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <li (click)="changeTab(0);" [appCheckPermission]="permissionTypes.READ"  class="user-post active" [ngClass]="{'active':tabs==0}">Ver Ciudades
                </li>
                <li [appCheckPermission]="permissionTypes.CREATE" (click)="changeTab(1);"  class="user-review" [ngClass]="{'active':tabs==1}">Ingresar Ciudad</li>
            </ul>
        </div>
        <div class="profile-body">
            <div [hidden]="tabs!=0" class="profile-posts tab" [appCheckPermission]="permissionTypes.READ">
                <div class="col-lg-12" [hidden]="!list">
                    <mat-card class="cardWithShadow">
                        <mat-card-content class="p-24">
                            <mat-card-title>Ciudades</mat-card-title>
                            <div class="table-responsive m-t-16">
                                <table mat-table [dataSource]="dataSource" class="w-100">
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            No.
                                        </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <div class="d-flex align-items-center">

                                                <div class="m-l-16">
                                                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                                        {{i+1}}
                                                    </h6>

                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Nombre
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.nombre }}
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="department">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Departamento
                                        </th>
                                        <td mat-cell *matCellDef="let element">

                                            <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                {{ element.departamento }}
                                            </span>

                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Descripcion
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.descripcion }}
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 ">
                                            Acciones
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1 ">
                                            <button mat-mini-fab class="bg-light-primary text-primary m-1"
                                                matTooltip="Editar" [appCheckPermission]="permissionTypes.UPDATE"  (click)="edit(element.id)">
                                                <i-tabler name="edit-circle" class="icon-16"></i-tabler>
                                            </button>
                                            <button mat-mini-fab class="bg-light-error text-error m-1"
                                                matTooltip="Eliminar" [appCheckPermission]="permissionTypes.DELETE"  (click)="deleteCiudad(element.id)">
                                                <i-tabler name="trash-filled" class="icon-16"></i-tabler>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[5,10,15,20]"
                                    showFirstLastButtons></mat-paginator>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <app-city-form *ngIf="!list" [ciudadId]="selectedId" (finishEvent)="setListView()"></app-city-form>
            </div>
            <div *ngIf="tabs==1" class="profile-reviews tab" [appCheckPermission]="permissionTypes.CREATE">
                <app-city-form (finishEvent)="setListView()"></app-city-form>
            </div>
            

        </div>
    </mat-card-content>
</mat-card>