<script src="https://kit.fontawesome.com/9b8a7e18a0.js"></script>
<div class="search-container">
  <div class="input-box">
    <i class="uil uil-search"></i>
    <input type="text" placeholder="Codigo del paquete" />
    <button class="button">Buscar</button>
  </div>
</div>
<div class="tableContainer">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Fecha Ingreso</th>
          <th>Fecha Egreso</th>
          <th>Origen</th>
          <th>Destino</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>