<div class="row  ">

    <h1>Dashboard de Ingresos</h1>

    <div class="col-lg-12">
        <div class="d-flex flex-row justify-content-between ">
            <div class="col-4">
                <mat-card class="cardWithShadow">
                    <mat-card-content class="p-24">
                        <mat-card-title>Ingresos totales del mes</mat-card-title>
                        <div class="row m-t-24 align-items-center" style="width:100%">
                            <div class="col-3 d-flex align-items-start">
                                <button mat-mini-fab class="bg-light-primary text-primary shadow-none icon-55"
                                    [routerLink]="['/features/gastos']" matTooltip="gastos">
                                    <i-tabler name="coins" class="icon-40"></i-tabler>
                                </button>
                            </div>
                            <div class="col-9 align-items-center" style="width:100%">
                                <h4 class="mat-headline-5 text-center">{{ingresoTMes}}</h4>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="cardWithShadow">
                    <mat-card-content class="p-24">
                        <mat-card-title>Ingreso pronosticado del mes</mat-card-title>
                        <div class="row m-t-24 align-items-center" style="width:100%">
                            <div class="col-3 d-flex align-items-start">

                                <button mat-mini-fab class="bg-light-success text-success shadow-none icon-55"
                                    [routerLink]="['/features/sucursal']" matTooltip="Sucursales">
                                    <i-tabler name="building-estate" class="icon-40"></i-tabler>
                                </button>
                            </div>
                            <div class="col-9 align-items-center" style="width:100%">
                                <h4 class="mat-headline-5 text-center">{{ingresoPronMes}}</h4>
                            </div>
                        </div>
                    </mat-card-content>


                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="cardWithShadow">
                    <mat-card-content class="p-24">
                        <mat-card-title>Ingresos Totales</mat-card-title>
                        <div class="row m-t-24 align-items-center" style="width:100%">
                            <div class="col-3 d-flex align-items-start">
                                <button mat-mini-fab class="bg-light-primary text-primary shadow-none icon-55"
                                    [routerLink]="['/features/paqueteria/listado']">
                                    <i-tabler name="cash" class="icon-40"></i-tabler>
                                </button>
                            </div>
                            <div class="col-9 align-items-center" style="width:100%">
                                <h4 class="mat-headline-5 text-center">{{ingresoTotales}}</h4>

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row  justify-content-between">
        <div class="col-6">
            <mat-card class="cardWithShadow">
                <mat-card-content>
                    <mat-card-title>Ingreso Real/Pronosticado del Mes</mat-card-title>
                    <div class="row m-t-24">
                        <div class=" d-flex align-items-start" *ngIf="ingresoMes && ingresoMes.series">
                            <apx-chart [series]="ingresoMes.series" [dataLabels]="ingresoMes.dataLabels"
                                [chart]="ingresoMes.chart" [legend]="ingresoMes.legend"
                                [colors]="ingresoMes.colors" [stroke]="ingresoMes.stroke"
                                [tooltip]="ingresoMes.tooltip" [plotOptions]="ingresoMes.plotOptions"
                                [responsive]="ingresoMes.responsive" [labels]="ingresoMes.labels"
                                [theme]="ingresoMes.theme"></apx-chart>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="cardWithShadow">
                <mat-card-content>
                    <mat-card-title>Ingresos real/pronosticado Total</mat-card-title>
                    <div class="row m-t-24">
                        <div class=" d-flex align-items-start" *ngIf="ingresoTotal && ingresoTotal.series">
                            <apx-chart [series]="ingresoTotal.series" [dataLabels]="ingresoTotal.dataLabels"
                                [chart]="ingresoTotal.chart" [legend]="ingresoTotal.legend"
                                [colors]="ingresoTotal.colors" [stroke]="ingresoTotal.stroke"
                                [tooltip]="ingresoTotal.tooltip" [plotOptions]="ingresoTotal.plotOptions"
                                [responsive]="ingresoTotal.responsive" [labels]="ingresoTotal.labels"
                                [theme]="ingresoTotal.theme"></apx-chart>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-lg-6">
        <mat-card class="cardWithShadow">
            <mat-card-content class="p-24">
                <div class="d-flex w-100">
                    <mat-card-title>Ingreso por sucursal en el mes</mat-card-title>
                </div>
                <apx-chart *ngIf="sucursalesMes && sucursalesMes.series" [series]="sucursalesMes.series"
                    [dataLabels]="sucursalesMes.dataLabels" [chart]="sucursalesMes.chart"
                    [legend]="sucursalesMes.legend" [xaxis]="sucursalesMes.xaxis"
                    [yaxis]="sucursalesMes.yaxis" [grid]="sucursalesMes.grid"
                    [stroke]="sucursalesMes.stroke" [tooltip]="sucursalesMes.tooltip"
                    [plotOptions]="sucursalesMes.plotOptions"></apx-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="cardWithShadow">
            <mat-card-content class="p-24">
                <div class="d-flex w-100">
                    <mat-card-title>Ingreso por sucursal total</mat-card-title>
                </div>
                <apx-chart *ngIf="sucursalesT && sucursalesT.series" [series]="sucursalesT.series"
                    [dataLabels]="sucursalesT.dataLabels" [chart]="sucursalesT.chart"
                    [legend]="sucursalesT.legend" [xaxis]="sucursalesT.xaxis"
                    [yaxis]="sucursalesT.yaxis" [grid]="sucursalesT.grid"
                    [stroke]="sucursalesT.stroke" [tooltip]="sucursalesT.tooltip"
                    [plotOptions]="sucursalesT.plotOptions"></apx-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>