<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/logo.png" class="align-middle m-2" alt="logo" width="250" />
            </a>
          </div>

          <form #loginForm class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Correo electronico</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input #emailInput="ngModel" type="email" matInput name="email" id="email" [(ngModel)]="credentials.email" required />
              <mat-hint class="mat-error" *ngIf="!credentials.email && emailInput.touched">Ingresa tu correo electronico</mat-hint>
           
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary" >
              <input #passwordInput="ngModel"  matInput name="password" id="password" [type]="showPass?'text':'password'"
                [(ngModel)]="credentials.password" required />
              <mat-icon matSuffix (click)="showPass=!showPass">{{showPass?'visibility':'visibility_off'}}</mat-icon>
              <mat-hint class="mat-error" *ngIf="!credentials.password && passwordInput.touched">Ingresa tu contraseña</mat-hint>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">

            </div>
            <button type="submit" (click)="signIn()" mat-flat-button color="primary" class="w-100">
              Iniciar Sesion
            </button>
            <!-- input -->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>