<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->


  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- 
  <a
    mat-flat-button
    color="primary"
    href="https://adminmart.com/"
    target="_blank"
    class="d-flex justify-content-center"
  >
    Download Free
  </a>
 --> <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
  
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35" />
    
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    

    <div class="p-x-12 m-t-12">
      <a (click)="logout()" mat-stroked-button color="primary" class="w-100">Cerrar sesion</a>
    </div>
  </mat-menu>
</mat-toolbar>