<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Vehiculos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <li (click)="changeTab(0);" class="user-post active" [ngClass]="{'active':tabs==0}">Ver Vehiculos</li>
                <li (click)="changeTab(1);" class="user-review" [ngClass]="{'active':tabs==1}">Ingresar nuevo Vehiculo </li>
                <li (click)="changeTab(2);" class="user-setting" [ngClass]="{'active':tabs==2}">Ver estado de vehiculo</li>
            </ul>
        </div>
        <div class="profile-body">
            <div class="profile-posts tab" *ngIf="tabs==0">
                <div class="col-lg-12" *ngIf="list">
                    <mat-card class="cardWithShadow">
                        <mat-card-content class="p-24">
                            <mat-card-title>Vehiculos</mat-card-title>
                            <div class="table-responsive m-t-16">
                                <table mat-table [dataSource]="dataSource" class="w-100">
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            No.
                                        </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <div class="d-flex align-items-center">

                                                <div class="m-l-16">
                                                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                                        {{i+1}}
                                                    </h6>

                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="placa">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Placa
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.placa }}
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="capacidad">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Capacidad
                                        </th>
                                        <td mat-cell *matCellDef="let element">

                                            <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                {{ element.capacidad_lb }}
                                            </span>

                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="costo">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Costo/km
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.costokm }}
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="tipoVehiculo">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Tipo Vehiculo
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.tipovehiculo_id }}
                                        </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="sucursal">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                            Sucursal
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                                            {{ element.sucursal_id }}
                                        </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 ">
                                            Acciones
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="mat-body-1 ">
                                            <button mat-mini-fab class="bg-light-primary text-primary m-1"
                                                matTooltip="Editar" (click)="edit(element.id)">
                                                <i-tabler name="edit-circle" class="icon-16"></i-tabler>
                                            </button>
                                            <button mat-mini-fab class="bg-light-error text-error m-1"
                                                matTooltip="Eliminar" (click)="deleteVehiculo(element.id)">
                                                <i-tabler name="trash-filled" class="icon-16"></i-tabler>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[5,10,15,20]"
                                    showFirstLastButtons></mat-paginator>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="profile-reviews tab" *ngIf="tabs==1">
                <app-crear-vehiculo></app-crear-vehiculo>
            </div>
            <div class="profile-settings tab" *ngIf="tabs==2">
                <app-editar-vehiculo></app-editar-vehiculo>
            </div>
        </div>
    </mat-card-content>
</mat-card>