<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Vehiculos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <li (click)="tabs(0);" class="user-post active" #li0>Ver Vehiculos</li>
                <li (click)="tabs(1);" class="user-review"  #li1>Ingresar nuevo Vehiculo</li>
                <li (click)="tabs(2);" class="user-setting"  #li2>Ver estado de vehiculo</li>
            </ul>
        </div>
        <div class="profile-body">
            <div class="profile-posts tab" #astxt1>
                <app-listar-vehiculos></app-listar-vehiculos>
            </div>
            <div class="profile-reviews tab" #astxt2>
                <app-crear-vehiculo></app-crear-vehiculo>
            </div>
            <div class="profile-settings tab" #astxt3>
                <app-editar-vehiculo></app-editar-vehiculo>
            </div>
        </div>
    </mat-card-content>
</mat-card>
