<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">


        <div class="formbold-form-title">
            <h2 class="">Editar Vehiculo</h2>
        </div>
        <div class="formbold-input-flex">
            <div style="width: 100%;">
                <label for="email" class="formbold-form-label"> Buscar Vehiculo</label>
                <input type="text" name="nombreBuscar" id="nombreBuscar" class="formbold-form-input" #nombreBuscar />
            </div>
            <div >
                <button mat-flat-button color="primary" >Buscar </button>
            </div>
        </div>
        <hr/>
        <form #vehiculoForm>
            <div>
                <h4>Datos del Vehiculo</h4>
                <div class="formbold-input-flex">
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Placa:
                        </label>
                        <input type="text" name="nombre" id="nombre" class="formbold-form-input" #nombreInput="ngModel"
                            [(ngModel)]="vehiculo.placa" required />
                    </div>
                    <div>
                        <label for="firstname" class="formbold-form-label">
                            Capacidad en libras:
                        </label>
                        <input type="number" name="peso" id="peso" class="formbold-form-input" #pesoInput="ngModel"
                            [(ngModel)]="vehiculo.capacidad_lb" required /> 
                    </div>
                </div>
                
                <div class="formbold-input-flex">
                    <div>
                        <label for="email" class="formbold-form-label"> Tipo de vehiculo</label>
                        <select class="formbold-form-input"name="tipo" #tipoInput="ngModel" [(ngModel)]="vehiculo.tipo_vehiculo_id" required>
                            <option>camion</option>
                            <option>vehiculo liviano</option>
                        </select>
                    </div>
                    <div>
                        <label for="phone" class="formbold-form-label">Sucursal</label>
                        <select class="formbold-form-input" name="sucursal"  #SucursalInput="ngModel" [(ngModel)]="vehiculo.sucursal_id"
                            required>
                            <option>sucursal 1</option>
                            <option>sucursal 2</option>
                        </select>
                    </div>
                </div>
                <div class="formbold-input-flex">
                    
                    <div>
                        <label for="email" class="formbold-form-label">Costo/km</label>
                        <input type="numer" name="costokm" id="mts2"  class="formbold-form-input" #volumenInput="ngModel"
                            [(ngModel)]="vehiculo.costo_km" required /> 
                    </div>
                </div>
            </div>
            <hr />
            <button mat-flat-button color="primary" >Guardar Edicion</button>
        </form>
    </div>
</div>